$space: 5px ;

%bordered {border-style:solid;border-width: 1px;}

div > span {margin-right: $space;
	padding: $space;}

@media (max-width:599px) { img {float:center;}}
@media (min-width:600px) { img {float:left;}}


img{margin-right: 50px;}

#status{@extend %bordered;}

#type_1{background-color:green;}
#type_2{background-color:purple;}
#type_f{background-color: orange;}
#type_w{background-color: aqua;}

table{
	th{@extend %bordered;}
	td{color: orange;}
}

.title{ font: Calibri ;
font-style: oblique;
font-size: 20 px}
